body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Container for all content */
#all-contents {
    max-width: 800px;
    margin: auto;
}

/* Navigation styles */
nav {
    background: rgb(239, 80, 41);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

/* Heading styles */
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

/* Navigation list styles */
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Main container styles */
main {
    background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20px;
}

/* Sidebar styles */
.sidebar {
    margin-right: 25px;
    padding: 10px;
}

/* Content area styles */
.content {
    flex: 1;
    padding: 15px;
    position: relative; /* To contain absolutely positioned box */
}

/* Styles for the bouncing box */
.box {
    width: 80px;
    height: 80px;
    background-color: rgb(122, 148, 231);
    font-size: 300%;
    text-align: center;
    user-select: none;
    display: block;
    position: absolute; /* Position relative to .content */
    top: 100px;
    left: 0px;}